
body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.logo-div>h2 {
  color:rgba(254, 181, 45, 0.941);
  font-size:180%;
  font-weight: 900;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100px; */
  padding: 30px;
  margin-bottom: 8px;
}

.logo-div {
  display: flex;
  background-color: black;
  height: 50px;
  align-items: center;
  padding: 0px 5px;
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow-y: auto;
  height: 4.6rem;
}

.footer{
color:orange;
position:fixed;
bottom: 0;
background-color: black;
width:100%;
align-items: flex-start;
padding: 6px 0px;
}

.item-image {
  width: 4rem;
}

.item-name-container {
  display: flex;
  flex-direction: row;
  /* border: 5px solid red; */
  margin: 0;
  margin: 8px 12px;
}

.item-title {
  font-weight: bold;
  font-size: 20px;
}

/* .menu-container {

} */

.description {
  display: flex;
  align-items: flex-start;
  height: 40px;
  padding-left: 10px;
}

.discover {
  font-size: 1.6rem;
  font-weight: bold;
  color: rgb(207, 144, 25);
}

.menu-body {
  overflow-y: auto;
  height: 70vh;
}

.menu-container {
  margin-left: 20px;
}




